<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>db_URL</param-name>
        <param-value>jdbc:postgresql://bic2b6bup02t0oo5kmbg-postgresql.services.clever-cloud.com:5432/bic2b6bup02t0oo5kmbg</param-value>
    </context-param>
    <context-param>
        <param-name>db_username</param-name>
        <param-value>uoovw5apdysjdbrvhmnq</param-value>
    </context-param>
    <context-param>
        <param-name>db_password</param-name>
        <param-value>tl0ABe0nGHni0MWZIFb2</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.iti.snmp.database.DatabaseListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>resolveTrapServlet</servlet-name>
        <servlet-class>com.iti.snmp.traps.resolveTrapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteHistoryServlet</servlet-name>
        <servlet-class>com.iti.snmp.history.deleteHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resolveTrapServlet</servlet-name>
        <url-pattern>/resolveTrapServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.iti.snmp.admin.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registeration</servlet-name>
        <servlet-class>com.iti.snmp.admin.Registeration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registeration</servlet-name>
        <url-pattern>/Registeration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteHistoryServlet</servlet-name>
        <url-pattern>/deleteHistoryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
